body {
	background: rgba(255, 185, 247, 0.55);
}

.home {
	height: 80vh;
	width: 99vw;

	display: flex;
	justify-content: center;
	// align-items: flex-start;
	align-content: flex-start;
	flex-wrap: wrap;

	font-family: 'Lobster', cursive;
}

.homeLi {
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.candy {
	width: 400px;
	height: 400px;
}

.productImg {
	border-radius: 5%;
	box-shadow: 1px 1px 5px purple;
}

.zoom {
	transition: transform .2s;
	border-radius: 5%;
	// background-color: white;
}

.zoom:hover {
	transform: scale(1.2);
	// box-shadow: 1px 1px 5px purple;
}

img {
	margin: 10px;
	width: inherit;
	height: inherit;
	object-fit: cover;
}

h3 {
	font-size: 40px;
}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
}

@media screen and(max-width: 900px) {
	img {
		height: 250px;
		width: 250px;
	}
	h3 {
		font-size: 20px;
	}
}

@media screen and(max-width: 650px) {
	/* Styles will only be applied when view port width is 650px and lower */
	img {
		height: 100px;
		width: 100px;
	}
	h3 {
		font-size: 10px;
	}
}
