.auth {
	height: 80vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

form {
	height: 50vh;
	width: 50vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

form h1 {
	font-size: 50px;
}

input {
	margin: 10px;
}

.auth .button {
	width: 10vw;
}

img {
	height: 294px;
	width: 331px;
}

input[type=submit] {
	width: 80%;
	background-color: #000000;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

input[type=submit]:hover {
	background-color: #3f3f3f;
}

button {
	width: 80%;
	background-color: #000000;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

button:hover {
	background-color: #3f3f3f;
}
